.page-banner-about{
    background-image: url(../img/about-banner.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.8;
}
.about-content{
    width: 100%;
}
.about-main{
    max-width: 1080px;
    margin: auto;
    margin-bottom: 48px;
}
.about-paragraph{
    width: 400px;
    text-align: justify;
}
.about-paragraph p{
    font-size: 20px;
    margin-bottom: 20px;
}
.about-title{
    flex-direction: column;
    align-items: flex-start;
}
.about-title > h2{
    font-size: 48px;
}
.about-title > p{
    margin-top: 30px;
}

.about-img {
    margin: auto;
    align-items: center;
}

.about-img-left{
    flex-direction: column;
    align-self: stretch;
    gap: 32px;
}


.about-item{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-top: 30px;
}

.about-item-text{
    text-align: center;
    flex: 1 1;
}
.about-item-title{
    font-size: 24px;
    color: #FFF;
    background-color: #0C00D4;
}

.about-item-text .about-number{
    font-size: 56px;
}

/* 響應式: 主文圖片區塊 */
@media screen and (max-width : 1024px) {
    .about-main{
        width: 100%;
        padding: 0 20px;
    }
}

/* 響應式: 主文圖片區塊 */
@media screen and (max-width : 768px) {
    .about-main{
        flex-wrap: wrap;
    }
    .about-item{
        width: 100%;
    }
    .about-paragraph{
        width: 100%;
    }
    .about-title > h2{
        font-size: 36px;
    }
    .about-item-text .about-number{
        font-size: 48px;
    }
}

/* 響應式: 主文圖片區塊 */
@media screen and (max-width : 425px) {
    .about-img{
        flex-direction: column;
    }
}